@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family */
html,body {
  font-family: 'Secular One', sans-serif;
  scroll-behavior: smooth;
}

ol {
  list-style: auto;
}

ol li {
  list-style: auto;
}

.noto-sans-japanese {
  font-family: Noto Sans JP,sans-serif;
}